apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-prometheus-app
  labels:
    app: k8s-prometheus-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-prometheus-app
  template:
    metadata:
      labels:
        app: k8s-prometheus-app
    spec:
      containers:
        - name: k8s-prometheus-app
          image: tails1982/k8s-prometheus-app:latest
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 15
